*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
    line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: grid;
    background-color: rgb(59, 145, 243);
    color: white;
    grid-row: 1 / 4;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-weight: bold;
}

.search-bar {
    width: 100%;
}

button {
    width: 15%;
    font-size: clamp(0.8rem, 2vw, 1rem);
    padding: 0.5rem;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    background-color: lightgray;
}

.projects .card {
    height: 200px;
    border: 1px solid greenyellow;
}

.socials-container {
    border: 1px solid brown;
}

.social-card {
    border: 1px solid white;
}