:root {
    --sidebar-blue: #1892d3;
    --light-grey: #e1e8f0;
    --yellow-orange: #efb429;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
    line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background-color: var(--sidebar-blue);
    color: white;
    grid-row: 1 / 4;
}

.sidebar svg {
    fill: white;
    width: 40px;
    min-height: 40px;
}

.sidebar-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.list-item-container li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-weight: bold;
}

.search-bar {
    width: 100%;
}

button {
    width: 15%;
    font-size: clamp(0.8rem, 2vw, 1rem);
    padding: 0.5rem;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    background-color: var(--light-grey);
}

.projects .card {
    height: 200px;
    border: 1px solid lightseagreen;
}

.socials-container {
    border: 1px solid brown;
}

.social-card {
    border: 1px solid white;
}